<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="bottom: 16px; position: fixed"
      >Dealer Vehicle Assign</ion-title
    >
    <!-- <ion-button  shape="round" class="dealerHeader" style="margin-left: 50%;" (click)="openModel()">
       Assign  
    
      </ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="myPlatform != 'desktop'">
  <ion-grid>
    <form [formGroup]="dealerForm">
      <ion-row>
        <ion-col>
          <ionic-selectable
            class="input selectable-input"
            formControlName="salesDealer"
            placeholder="Select Dealer"
            [items]="SalesDealer"
            [canSearch]="true"
            (onChange)="getsalesDealer($event)"
            [hasVirtualScroll]="true"
            [disabledItems]="data"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important">
          <ion-button
            class="submitbtn"
            [disabled]="!dealerForm.valid"
            (click)="Submit()"
            >Submit</ion-button
          >
          <ion-button
            class="submitbtn"
            [disabled]="!dealerForm.valid"
            (click)="Clear()"
            >Clear</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="upperRow">
      <ion-col
        (click)="typeSelector('Re-assign')"
        [ngClass]="{'selectedUpperCol': type !='Assign', 'upperCol': type =='Assign'}"
        size="3.5"
      >
        <ion-label>Un-assign</ion-label>
      </ion-col>
      <ion-col
        (click)="typeSelector('Assign')"
        [ngClass]="{'selectedUpperCol': type =='Assign', 'upperCol': type !='Assign'}"
        size="3.5"
      >
        <ion-label>Assign</ion-label>
      </ion-col>
    </ion-row>
    <ion-searchbar [(ngModel)]="terms" placeholder="Search"> </ion-searchbar>
    <!-- <ion-virtual-scroll [items]="showList  | searchDelar:terms"  approxItemHeight="320px">
    <ion-list  *virtualItem="let showList;let i = index"  [id]='showList.imei' style= 'padding:0px;' >
     <ion-item>
          <ion-grid style='padding:0px;margin: 0px;'>
            <ion-row style='padding:0px;margin: 0px;'>
            
              <ion-col size='8'  >{{showList.imei}}</ion-col>
              <ion-col size='3'></ion-col>
            
           </ion-row>
          </ion-grid>
          <ion-checkbox class="checkbox" #checkboxes (ionChange)="updateAnswer($event,i, showList.imei, showList)" slot="end"></ion-checkbox>
    </ion-item>
    </ion-list>
  </ion-virtual-scroll> -->
    <ion-list
      style="padding: 0px"
      *ngFor="let showList of showList | searchDealerAssign:terms"
    >
      <ion-item style="padding: 0px">
        <ion-grid style="padding: 0px; margin: 0px; font-size: 12px">
          <ion-row style="padding: 0px; margin: 0px">
            <ion-col style="padding: 0px" size="6">{{showList.imei}}</ion-col>
            <ion-col style="padding: 0px" size="1"></ion-col>
            <ion-col style="padding: 0px" size="5"
              >{{showList.plateno}}</ion-col
            >
          </ion-row>
        </ion-grid>
        <ion-checkbox
          class="checkbox"
          #checkboxes
          (ionChange)="updateAnswer($event,i, showList.imei, showList)"
          slot="end"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
    <!-- <ion-row class="ion-text-center"> 
    
  <ion-col size="12" style="position: fixed;
   bottom: 0px;"><ion-button (click)="assign()" >Submit</ion-button></ion-col>
  </ion-row> -->
    <ion-fab
      *ngIf="selectedArray.length != 0"
      vertical="bottom"
      horizontal="center"
      slot="fixed"
    >
      <ion-fab-button
        style="
          --background: #0000000;
          --box-shadow: #0000000;
          width: 100px;
          height: 100px;
        "
      >
        <ion-button *ngIf="type == 'Assign'" (click)="submit()"
          >UNASSIGN</ion-button
        >
        <ion-button *ngIf="type == 'Re-assign'" (click)="submit()"
          >ASSIGN</ion-button
        >
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>

<ion-content *ngIf="myPlatform == 'desktop'">
  <ion-grid>
    <form [formGroup]="dealerForm">
      <ion-row>
        <ion-col>
          <ionic-selectable
            class="input selectable-input"
            formControlName="salesDealer"
            placeholder="Select Dealer"
            [items]="SalesDealer"
            [canSearch]="true"
            (onChange)="getsalesDealer($event)"
            [hasVirtualScroll]="true"
            [disabledItems]="data"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important">
          <ion-button
            class="submitbtn"
            [disabled]="!dealerForm.valid"
            (click)="Submit()"
            >Submit</ion-button
          >
          <ion-button
            class="submitbtn"
            [disabled]="!dealerForm.valid"
            (click)="Clear()"
            >Clear</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="upperRow">
      <ion-col
        (click)="typeSelector('Re-assign')"
        [ngClass]="{'selectedUpperCol': type !='Assign', 'upperCol': type =='Assign'}"
        size="3.5"
      >
        <ion-label>Un-assign</ion-label>
      </ion-col>
      <ion-col
        (click)="typeSelector('Assign')"
        [ngClass]="{'selectedUpperCol': type =='Assign', 'upperCol': type !='Assign'}"
        size="3.5"
      >
        <ion-label>Assign</ion-label>
      </ion-col>
    </ion-row>
    <ion-searchbar [(ngModel)]="terms" placeholder="Search"> </ion-searchbar>
    <!-- <ion-virtual-scroll [items]="showList  | searchDelar:terms"  approxItemHeight="320px">
    <ion-list  *virtualItem="let showList;let i = index"  [id]='showList.imei' style= 'padding:0px;' >
     <ion-item>
          <ion-grid style='padding:0px;margin: 0px;'>
            <ion-row style='padding:0px;margin: 0px;'>
            
              <ion-col size='8'  >{{showList.imei}}</ion-col>
              <ion-col size='3'></ion-col>
            
           </ion-row>
          </ion-grid>
          <ion-checkbox class="checkbox" #checkboxes (ionChange)="updateAnswer($event,i, showList.imei, showList)" slot="end"></ion-checkbox>
    </ion-item>
    </ion-list>
  </ion-virtual-scroll> -->
    <ion-list
      style="padding: 0px"
      *ngFor="let showList of showList | searchDealerAssign:terms"
    >
      <ion-item style="padding: 0px">
        <ion-grid style="padding: 0px; margin: 0px">
          <ion-row style="padding: 0px; margin: 0px">
            <ion-col style="padding: 0px" size="6">{{showList.imei}}</ion-col>
            <ion-col style="padding: 0px" size="1"></ion-col>
            <ion-col style="padding: 0px" size="5"
              >{{showList.plateno}}</ion-col
            >
          </ion-row>
        </ion-grid>
        <ion-checkbox
          class="checkbox"
          #checkboxes
          (ionChange)="updateAnswer($event,i, showList.imei, showList)"
          slot="end"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
    <!-- <ion-row class="ion-text-center"> 
    
  <ion-col size="12" style="position: fixed;
   bottom: 0px;"><ion-button (click)="assign()" >Submit</ion-button></ion-col>
  </ion-row> -->
    <ion-fab
      *ngIf="selectedArray.length != 0"
      vertical="bottom"
      horizontal="center"
      slot="fixed"
    >
      <ion-fab-button
        style="
          --background: #0000000;
          --box-shadow: #0000000;
          width: 100px;
          height: 100px;
        "
      >
        <ion-button *ngIf="type == 'Assign'" (click)="submit()"
          >UNASSIGN</ion-button
        >
        <ion-button *ngIf="type == 'Re-assign'" (click)="submit()"
          >ASSIGN</ion-button
        >
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>
