<ion-header>
  <ion-toolbar class="dealerHeader">
    <ion-title>Dashboard</ion-title>
    <ion-button slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header style="text-align: center; font-weight: bold"
          >Sales</ion-card-header
        >
        <ion-card-content>
          <ion-radio-group
            allow-empty-selection="false"
            name="radio-group"
          ></ion-radio-group>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-header>CA Request</ion-card-header>
        <ion-card-content>
          <ion-radio-group
            allow-empty-selection="false"
            name="radio-group"
          ></ion-radio-group>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-header>Renewal Request</ion-card-header>
        <ion-card-content>
          <ion-radio-group
            allow-empty-selection="false"
            name="radio-group"
          ></ion-radio-group>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
