.header
{
color:#6c2a84;
font-weight: 500;
font-size: 15px;
margin-left: 10%;
}
.icon
{
 margin-right:2%;
color:#6c2a84;
}
.label
{
color:black;
}
.expense-border-model
{
border-left: 2px solid lightgray;
border-right: 2px solid lightgray;
border-bottom: 2px solid lightgray;
height: 70%;
overflow-y: scroll;
}
.table-head{
font-size: 21px;
place-content: center;
background: #6c2a84;
font-variant: all-petite-caps;
font-weight: 500;
color: white;
}
.income-expense-label{
font-size: 16px;
font-weight: 500;
padding: 5px;
color: black;
}
.income-expense-total-col{
place-content: end;
margin: -5px 25px 0px 0px;
}
.income-expense-col{
text-align: center;
 margin-top: 3%;
}
.expense-cost-label{
font-size: 20px;
font-weight: 500;
background: #6c2a84;
color: white;
padding: 0px 10px 0px 10px;
}

