.reportInfo {
    color: #c1c1d2;
    font-size: 14px;
  }
  .reportContent {
    color: #3d3333;
    font-weight: bold;
    border-bottom: 1px solid #c1c1d2;
  }
  .maxWidth{
    width:100%
  }