<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-icon
        (click)="cancelBtn()"
        name="arrow-back"
        style="padding: 10px"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-title>View Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="wrapper-container">
    <ion-col size="12">
      <jqxGrid
        #myGrid
        [theme]="'material'"
        [width]="'99%'"
        [autoheight]="true"
        [source]="dataAdapter"
        [columns]="columns"
        [pagesizeoptions]="page"
        [enablebrowserselection]="true"
        [sortable]="true"
        [filterable]="true"
        [columns]="columns"
        [columnsresize]="true"
        [enabletooltips]="true"
        [pageable]="true"
        [showfilterrow]="true"
        style="
          font-size: 16px;
          text-align: center !important;
          margin: auto;
          cursor: pointer;
        "
      >
      </jqxGrid>
    </ion-col>
  </ion-row>
</ion-content>
