.circle {
  color: white;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.floatRight {
  float: right;
  display: flex;
}
.buttonClass {
  font-size: xx-small;
  height: 3vh;
  margin: 10px 2px;
}
.active {
  border-bottom: 3px solid dodgerblue;
}
.setToWidth {
  width: -webkit-fill-available;
}
