<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="myPlatform == 'desktop'" slot="start">
      <ion-icon
        routerLink="/tabs-login/esim-dashboard"
        name="arrow-back"
        style="padding: 10px; cursor: pointer"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-row class="toolbar">
      <ion-title *ngIf="myPlatform != 'desktop'">CA Request</ion-title>
      <ion-title *ngIf="myPlatform == 'desktop'">Request Details</ion-title>
      <ion-col
        size="4"
        *ngIf="myPlatform == 'desktop'"
        style="text-align: right"
      >
        <ion-button class="submitBtn" size="small" (click)="newfunc()"
          >Export</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="myPlatform == 'desktop'" class="upperRow">
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/esim-dealer-detail"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Ca Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/esim-renewal"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Renewal Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-topup-request-details"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Topup Request</ion-label>
      </ion-col>

      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-extend-oneyear-request-details"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Extend 1 Yr Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-certificate-request"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Certificate Request</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="wrapper-container">
      <ion-col size="12">
        <form [formGroup]="DealerForm">
          <ion-row class="form-field">
            <ion-col size="12" size-lg="3" size-md="3">
              <ion-label class="label-head">Invoice Number:</ion-label>
              <ionic-selectable
                class="input selectable-input"
                formControlName="InvoiceNo"
                placeholder="Select Invoice Number"
                [items]="Invoice"
                [canSearch]="true"
                (onChange)="getinvoicelist($event)"
                [hasVirtualScroll]="true"
                [disabledItems]="data"
              >
              </ionic-selectable>
            </ion-col>
            <ion-col size="12" size-lg="3" size-md="3">
              <ion-label class="label-head">Box Number:</ion-label>
              <ion-input
                type="text"
                *ngIf="!showSerialNo"
                placeholder="Select Box Number"
                formControlName="SerialNo"
                class="input"
                disabled
              ></ion-input>
              <ionic-selectable
                *ngIf="showSerialNo"
                class="input selectable-input"
                formControlName="SerialNo"
                placeholder="Select Box Number"
                [disabled]="hideSerialNo"
                [items]="SerialNo"
                [canSearch]="true"
                (onChange)="getseriallist($event)"
                [hasVirtualScroll]="true"
                [disabledItems]="data"
              >
              </ionic-selectable>
            </ion-col>

            <!-- <ion-col size="12" size-lg="3" size-md="3">
            <ion-label class="label-head">Iccid Number:</ion-label>
            <ion-input
              type="text"
              placeholder="Iccid Number"
              formControlName="iccidNumber"
              class="input"
            ></ion-input>
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="3">
            <ion-label class="label-head">Imei Number:</ion-label>
            <ion-input
              type="text"
              placeholder="Imei Number"
              formControlName="ImeiNumber"
              class="input"
            ></ion-input>
          </ion-col> -->
            <ion-col
              size="12"
              size-lg="3"
              size-md="3"
              style="margin: 25px 0px 0px; text-align: end"
            >
              <ion-button
                class="submitbtn"
                (click)="SearchData()"
                [disabled]="!DealerForm.valid"
                >Search</ion-button
              >
              <ion-button class="submitbtn" (click)="clear(1)"
                >Clear</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
        <!-- <ion-row style="padding: 10px" *ngIf="show">
          <ion-col size="12">
            <ion-label
              ><span class="dealer-label">Invoice No:</span
              ><span class="dealer-data">{{details.invoiceno}}</span
              ><span class="dealer-label">Total Qty:</span
              ><span class="dealer-data">{{details.totalquantity}}</span
              ><span class="dealer-label">Sales Date:</span
              ><span class="dealer-data">{{details.saledate}}</span>
              <span class="dealer-label">Box No:</span
            ><span class="dealer-data">{{details.serialno}}</span
            >
              <span class="dealer-label">Distributor:</span
              ><span class="dealer-data"
                >{{details.saledistributor}}</span
              ></ion-label
            >
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col style="margin: 10px 0px 0px">
            <ion-label>
              <span class="dealer-label">Total Selected Row :</span>
              <span class="dealer-data">{{selectedRow?.length}}</span>
            </ion-label>
          </ion-col>

          <ion-col style="margin: 10px 0px 0px; text-align: end">
            <ion-button
              class="submitbtn"
              (click)="openModel()"
              [disabled]="showButton"
              >Request for Activation</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row style="padding: 10px">
          <ion-col size="12">
            <jqxGrid
              #myGrid
              [selectionmode]="'checkbox'"
              (onRowselect)="myGridOnRowSelect($event)"
              (onRowunselect)="myGridOnRowSelect($event)"
              [enablebrowserselection]="true"
              [theme]="'material'"
              [width]="'99.5%'"
              [autoheight]="true"
              [source]="dataAdapter"
              [sortable]="true"
              [filterable]="true"
              [columns]="columns"
              [columnsresize]="true"
              [enabletooltips]="true"
              [pageable]="true"
              [showfilterrow]="true"
              style="
                font-size: 16px;
                text-align: center !important;
                margin: auto;
                cursor: pointer;
              "
            >
            </jqxGrid>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
