.labelSpacing{
    margin-bottom: 3%;
    margin-left: 6%;
    width: 85%;
}
.margin{
    margin-top: 3%
}
.Tracalogic{
    --background:rgb(255, 174, 0);
}
.Moveandtrack{
    --background:rgb(237, 27, 36);
}