*{
    margin:0px;
    padding:1px;
    font-size: 11px;
 }
 .wrapper-container{
     clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      background-color: #03A9F4;
      //background: url("../../../assets/pentagon-angle-angle.png");
     //background-color: #fddb3a;
     height: 100px;
     width:110px;
     transform: rotate(-45deg);
     float: right;
     position: absolute;
     right: -24px;
     bottom: -18px;
   }
   .card-content{
     border-right: 5px solid #e6e6e6;
     margin: 4px;
   }
   .add-icon{
     font-size: 32px;
    
   }
   .content-wraper{
     padding: 0 5px;
   }
   .icon-size{
     font-size: 16px;
     //color: #fddb3a;
     color: #ff9800;
     padding-right: 5px;
   }
   .manage-title{
     font-size: 12px;
     font-family: "Segoe UI";
     color: #3d4df9;
     font-weight: 600;
     position:relative;
     z-index: 3;
   }
   .plateNum{
     border-bottom: 1px solid gray;
     border-bottom: 1px solid #e2e2e2;
     padding: 5px 0;
     font-weight: 700;  
   }
   .manage-title:before{
     margin: auto;
     position: absolute;
     content: "";
     height: 2px;
     bottom: 14px;
     width: 13px;
     background:grey;
   
  }
  .svg-size{
     height: 14px;
     width:22px; 
     padding-right: 5px;  
  }