.header{
    font-size: 23px;
    background:  #7c68f8;
    color: white;
    text-align: center;
}
    .expiry{
        text-align: left;
        font-size: 13px;
        border: 1px solid  #7c68f8;
        border-radius: 5px;
    }