<ion-row>
  <ion-col size="12" style="padding: 0px">
    <ion-row style="border: 1px solid #dad9d9; width: 99.2%">
      <ion-col style="padding: 0">
        <ion-row style="float: left; margin: 0">
          <ion-col size="4" class="toolbar-buttons">
            <ion-button
              class="submitBtn"
              (click)="openModel()"
              shape="round"
              size="small"
            >
              Add
              <ion-icon name="add-circle" class="toolbar-icon"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="toolbar-buttons">
            <ion-button
              class="submitBtn"
              (click)="editModel()"
              shape="round"
              size="small"
            >
              Edit
              <ion-icon name="create" class="toolbar-icon"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
