.selectable-input {
    padding: 8px 11px 4px 8px;
    margin-top: 5px;
}
.label-style{
   border: 1px solid #e5e5e5;
    height: 42px;
    line-height: 18px;
    --padding-start: 15px;
    background: #e8e8e8;
}
.content-style{
    justify-content: center
}
.total-data {
    margin-top: 3%;
}
.col-content{
    text-align: left;
    align-self: center;
    font-size: 18px;
}
#add-icon{
    --background:#FFEBCD;
    --color: white;
    font-size: 15px;
    --border-radius: 5px;
}
.button{
    margin-top: 2%;
    --background: #7c68f8;
}
@media only screen and (max-width:767px) {
    .form-field {
        zoom: 80%;
    }

    #submitbtn {
        width: 40%;
    }
}

.form-field {
    margin: -5px;
    border-radius: 7px;
}