.label-style {
    border: 1px solid #e5e5e5;
    background: #e8e8e8;
    line-height: 14px;
    margin: 7px;
}

.content-style {
    justify-content: center
}

.col-content {
    text-align: left;
    align-self: center;
    font-size: 18px;
}

#add-icon {
    --background: #FFEBCD;
    --color: white;
    font-size: 15px;
    --border-radius: 5px;
}

.button {
    margin-top: 2%;
    --background: #7c68f8;
}

@media only screen and (max-width:767px) {
    .form-field {
        zoom: 80%;
    }

    #submitbtn {
        width: 80%;
    }
}

.form-field {
    margin: -5px 5px 0px;
    border-radius: 7px;
}

.selectable-input {
    padding: 8px 11px 0px 6px;
}