.toolbar-buttons {
 padding: 10px 0;
 width: 78px !important;
}
.submitBtn {
    margin: 0px 14px 0px 0px;
    --ion-color-primary: #7c68f8;
    --background: white;
    --color: #7c68f8;
    --background-hover: #7c68f8;
    --color-hover: white;
}
.pdf-wrapper,
.excel-wrapper {
    background: url("../../../assets/excelNew.svg") no-repeat;
    width: 18px;
    height: 20px;
}

.fab-btn {
    --background: lavender;
    --box-shadow: none;
    position: absolute;
    top: -11px;
    right: -2px;
    height: 30px;
    width: 30px;
}

.fab-btn:hover {
    --background-hover: #b6b6b6;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 6px;
    margin-top: -15px;
    margin-left: -80px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
   
   