*{
    report-container.scroll-y{
    overflow-y:hidden !important;
    }
}
.card-container{
  height: 90vh;
  margin:0px;
  overflow-y: scroll !important;
  padding: 0 0 3.5em;
}
.form-container{
  padding:0px 2px;
  margin:0px;
  width:100%;
  overflow-y:hidden !important;
}
.card-container::-webkit-scrollbar {
  width:5px;
}

.card-container::-webkit-scrollbar-track {
  background:  #f6f6f6;
}

.card-container::-webkit-scrollbar-thumb {
  background:  #f6f6f6;
}

.card-container::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 181, 181);
}
.form-container.inner-scroll{
  display: none !important;
  
}
.reports-card:hover {
  background: #eaeaea;
}
.reports-card{
  text-transform: capitalize;
    font-size:10px;
}

.form-container.inner-scroll{
  display: none !important;
}
.actives {
  background-color: #6c2a84;
  color: white;
}
