<ion-header>
  <ion-row>
    <ion-col size="1">
      <ion-icon name="arrow-back" style="font-size: xx-large;" (click)="closeModal()"></ion-icon>
    </ion-col>
    <ion-col size="11" *ngIf="myPlatform =='desktop'" style="margin-left: -25px;" class="route-header">Route Info</ion-col>
    <ion-col size="11" *ngIf="myPlatform !='desktop'"class="route-header">Route Info</ion-col>
  </ion-row>
</ion-header>
<ion-row>
  <ion-col size=12 class="stu-name">
    {{routeinfo?.studentinfo.studentName1}}
  </ion-col>
</ion-row>
<ion-row class="container">
  <ion-col size="12">
     <div class="wrapper-container">
      <form  [formGroup]="studentDetails" id="route-info">
        <div class="box-column">
<ion-row>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
  <ion-searchbar style="position: absolute; z-index: 12; top:5%;width: 70%;" showCancelButton="never" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" (ionChange) ="getAddressLatlng(address)" placeholder="Search"></ion-searchbar>
  <div class="map studentroute" style="height: 45vh !important;" #mapElement></div>
      <ion-row>
        <ion-col size="8">
            <ion-range min="50" style="padding: 0px;" max="10000" color="secondary" [(ngModel)]="range" [ngModelOptions]="{standalone: true}" (ionChange)="setRange(range)">
                <ion-icon size="small" slot="start" name="remove-circle-outline"></ion-icon>
            </ion-range>
        </ion-col>
        <ion-col size="1"></ion-col>
        <p style="text-align:center;">{{range}} m </p>
    </ion-row>
  </ion-col>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/route1.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <select  class="stu-input select-input route-info" formControlName="pickuptrip" (change)="getpickuproute($event)">
          <option value="" disabled selected hidden class="option-head" >Select Pickup Trip</option>
          <option *ngFor="let pickuptrip of pickuptrip" [value]="pickuptrip">{{pickuptrip}}</option>
        </select>
        <!-- <select  class="stu-input select-input route-info" formControlName="pickuproute" (change)="getpickuptrip($event)">
        <option value="" disabled selected hidden class="option-head" >Select Pickup Route</option>
        <option *ngFor="let pickuproute of pickuproute" [value]="pickuproute">{{pickuproute}}</option>
      </select> -->
      </ion-col>
    </ion-row>
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/bus- dropstop-svg.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <!-- <select  class="stu-input select-input route-info" formControlName="pickuptrip" (change)="getpickupstop($event)">
        <option value="" disabled selected hidden class="option-head" >Select Pickup Trip</option>
        <option *ngFor="let pickuptrip of pickuptrip" [value]="pickuptrip">{{pickuptrip}}</option>
      </select> -->
      <select  class="stu-input select-input route-info" formControlName="pickuproute" (change)="getpickupstop($event)">
        <option value="" disabled selected hidden class="option-head" >Select Pickup Route</option>
        <option *ngFor="let pickuproute of pickuproute" [value]="pickuproute">{{pickuproute}}</option>
      </select>
      </ion-col>
    </ion-row>
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/Bus_stop.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <select  class="stu-input select-input route-info" formControlName="pickupstop">
        <option value="" disabled selected hidden class="option-head" >Select Pickup Stop</option>
        <option *ngFor="let pickupstop of pickupstop  | keyvalue" [value]="pickupstop.key">{{pickupstop.value}}</option>
      </select>
      </ion-col>
    </ion-row>
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/droproute1.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <select  class="stu-input select-input route-info" formControlName="droptrip" (change)="getdroproute($event)">
          <option value="" disabled selected hidden class="option-head" >Select Drop Trip</option>
          <option *ngFor="let droptrip of droptrip" [value]="droptrip">{{droptrip}}</option>
        </select>
        <!-- <select  class="stu-input select-input route-info" formControlName="droproute" (change)="getdroptrip($event)">
        <option value="" disabled selected hidden class="option-head" >Select Drop Route</option>
        <option *ngFor="let droproute of droproute" [value]="droproute">{{droproute}}</option>
      </select> -->
      </ion-col>
    </ion-row>
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/drop route.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <!-- <select  class="stu-input select-input route-info" formControlName="droptrip" (change)="getdropstop($event)">
        <option value="" disabled selected hidden class="option-head" >Select Drop Trip</option>
        <option *ngFor="let droptrip of droptrip" [value]="droptrip">{{droptrip}}</option>
      </select> -->
      <select  class="stu-input select-input route-info" formControlName="droproute" (change)="getdropstop($event)">
        <option value="" disabled selected hidden class="option-head" >Select Drop Route</option>
        <option *ngFor="let droproute of droproute" [value]="droproute">{{droproute}}</option>
      </select>
      </ion-col>
    </ion-row>
    <ion-row  class="stu-items stu-select-box">
      <ion-col size="2">
        <ion-img src="assets/student_Details/pickup-route.svg" class="stu-svg"></ion-img>
      </ion-col>
      <ion-col  size="10">
        <select  class="stu-input select-input route-info" formControlName="dropstop">
        <option value="" disabled selected hidden class="option-head" >Select Drop Stop</option>
        <option *ngFor="let dropstop of dropstop | keyvalue" [value]="dropstop.key">{{dropstop.value}}</option>
      </select>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
</div>
      </form>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button style="text-align: center;" shape="round" (click)="submit()"[disabled]="!studentDetails.valid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-col>
  </ion-row>