@media only screen and(min-width:320px) and(max-width:1023px) {
  .wrapper-container {
    border: none;
    margin: 8px 0 0;
    padding: 0;
  }
}

@media only screen and(min-width:1024px) {
  .wrapper-container {
    margin: 8px 1px;
    padding-right: 20px;
  }
}

.form-field {
  margin: -5px;
  border-radius: 7px;
}

@media only screen and (max-width: 767px) {
  .form-field {
    zoom: 80%;
  }

  #submitbtn {
    width: 80%;
  }
}

.input {
  border: 1px solid #e5e5e5;
  height: 42px;
  line-height: 18px;
  --padding-start: 15px;
  background: #e8e8e8;
  margin: 7px;
}

@media only screen and (min-width: 768px) {
  .input {
    margin-top: 12px;
  }

  #submitbtn {
    width: 20%;
  }
}
.col-content {
  text-align: left;
  align-self: center;
  font-size: 18px;
}

.comment {
  border: 1px solid #e5e5e5;
  background: #e8e8e8;
  height: 140px;
  width: 100%;
  padding: 15px;
}
