.startAddress{
    font-size: 10px;
    color:black;
    text-align: center;
}
.dragDown {
    transition: 0.5s;
    bottom: -1200px;
}

.dragUp {
    transition: 0.5s;
    bottom: -50px;
}
.modal {
    z-index: 18;
    background-color: #c3c3d4;
    border-radius: 12px;
    position: fixed;
    right: 0px;
    width: 100%;
    height: 60%;
    transition: 0.5s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.closeModal {
    z-index: 18;
    position: fixed;
    right: 0px;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.closeUp {
    transition: 0.5s;
    top: -280px;
}
.closeDown{
    transition: 0.5s;
    top: 20px;
}
#map{
    height : 100%;
}
.odometerTitle{
    color: #000000;
    font-weight: bold;
}
#idle{
    background: #139be9;
    color: white;
}
#running{
    color: white;
    background: #1db372;
}
#towed{
    color: white;
    background: #c200b8; 
}

.number{
    color:black;
    vertical-align: middle;
    align-self: center;
}
#end{
    color: white;
    background: #ff0000;
}
.image{
    height: 40px;
}

.semiCircle {
    background: #32384b;
    width: 100%;
    padding: 2%;
    border-radius: 0px 0px 20px 18px;
  }
  
  .alertsStyle {
    color: white;
    font-size: 16px;
  }
  .statusStyle1{
    justify-content: center;
    padding-top: 20px;
  }
  .rectangleBox{
    justify-content: center;
    background: white;
    color: black;
    font-weight: bold;
    // margin: 7px;
  }
  .circle {
    height: 8px;
    width: 8px;
    margin: 4px;
    border-radius: 20px;
    background: #f28918;
    align-items: center;
  }