.submitBtn:hover {
  background-color: rgb(196, 195, 197);
}
#broad-cast-wrapper{
  margin:10px;
  background: #f3f3f3;
  margin: 0px 15px 22px;
  padding: 10px;
  font-size: 14px;
}
#toolbarHeader{
 font-size: 18px;
 color: #388fff; 
 font-weight: bold;
 padding: 15px;
}
.radio-label{
 vertical-align: top;
 padding: 10px;
}
.col-center{
 align-self: center;
}
.boxsize{
 border: 1px solid lightgrey;
 background: white;
 width: 100%;
 font-size: 13px;
 padding-left: 5px;
}