<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-icon
        (click)="cancelBtn()"
        name="arrow-back"
        style="padding: 10px"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-title>View Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="wrapper-container">
    <ion-col size="12">
      <!-- <form [formGroup]="detailForm">
        <ion-row class="form-field">
          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Dealer:</ion-label>
            <ion-input
              type="text"
              formControlName="dealerid"
              class="input"
            ></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Invoice Number:</ion-label>
            <ion-input
              type="text"
              formControlName="invoiceno"
              class="input"
            ></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Invoice Amount:</ion-label>
            <ion-input
              type="number"
              formControlName="invoiceamount"
              class="input"
            ></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Total Received Amount:</ion-label>
            <ion-input
              type="number"
              formControlName="totalamountreceived"
              class="input"
            ></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Balance Amount:</ion-label>
            <ion-input
              type="text"
              formControlName="balanceamount"
              class="input"
            ></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">No of Units:</ion-label>
            <ion-input
              type="text"
              formControlName="noofunits"
              class="input"
            ></ion-input>
          </ion-col>
          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Total Supplied Units:</ion-label>
            <ion-input
              type="number"
              formControlName="totalsuppliedunits"
              class="input"
            ></ion-input>
          </ion-col>
          <ion-col size="12" size-lg="4" size-md="4">
            <ion-label class="label-head">Balance Units:</ion-label>
            <ion-input
              type="number"
              formControlName="balanceunits"
              class="input"
            ></ion-input>
          </ion-col>
        </ion-row>
      </form> -->

      <jqxGrid
        #myGrid
        [theme]="'material'"
        [width]="'99%'"
        [autoheight]="true"
        [source]="dataAdapter"
        [columns]="columns"
        [pagesizeoptions]="page"
        [enablebrowserselection]="true"
        [sortable]="true"
        [filterable]="true"
        [columns]="columns"
        [columnsresize]="true"
        [enabletooltips]="true"
        [pageable]="true"
        [showfilterrow]="true"
        style="
          font-size: 16px;
          text-align: center !important;
          margin: auto;
          cursor: pointer;
        "
      >
      </jqxGrid>
    </ion-col>
  </ion-row>
</ion-content>
