<ion-header>
  <ion-toolbar class="dealerHeader">
    <ion-buttons slot="start">
      <ion-icon
        routerLink="/tabs-login/certificate-generation"
        name="arrow-back"
        style="padding: 10px"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 1%">Certficate Creation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="wrapper-container">
      <form [formGroup]="certificatedetails">
        <ion-row>
          <ion-col size-sm="8" size-md="8" size-lg="6" class="head">
            <label class="heading">Vehicle Details</label>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Vehicle Registration No:</label>
              <ion-input
                type="text"
                placeholder="Vehicle Registration No"
                formControlName="RegistraionNo"
              ></ion-input>
            </ion-col>

            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Chassis Number:</label>
              <ion-input
                type="text"
                placeholder="Chassis Number"
                formControlName="ChassisNo"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Engine Number:</label>
              <ion-input
                type="text"
                placeholder="Engine Number"
                formControlName="EngineNo"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col size-sm="8" size-md="8" size-lg="6" class="head">
            <label class="heading">Vehicle Owner Details</label>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Vehicle Owner Name:</label>
              <ion-input
                type="text"
                placeholder="Vehicle Owner Name"
                formControlName="OwnerName"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Address:</label>
              <ion-input
                type="Address"
                placeholder="Address"
                formControlName="OwnerAddress"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Phone Number:</label>
              <ion-input
                type="text"
                placeholder="Phone Number"
                formControlName="PhoneNo"
              ></ion-input>
            </ion-col>
          </ion-row>
        </div>

        <ion-row>
          <ion-col size-sm="8" size-md="8" size-lg="6" class="head">
            <label class="heading">Distributer Details</label>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Distributer Name:</label>
              <ion-input
                type="text"
                placeholder="Distributer Name"
                formControlName="distributerName"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Address:</label>
              <ion-input
                type="text"
                placeholder="Address"
                formControlName="distributerAddress"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Phone Number:</label>
              <ion-input
                type="text"
                placeholder="Phone Number"
                formControlName="distributerNo"
              ></ion-input>
            </ion-col>
          </ion-row>
        </div>

        <ion-row>
          <ion-col size-sm="8" size-md="8" size-lg="6" class="head">
            <label class="heading">VLTD Details</label>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Unique Identification No:</label>
              <ion-input
                type="text"
                placeholder="Unique Identification Number"
                formControlName="uniqueno"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Imei Number:</label>
              <ion-input
                type="text"
                placeholder="Imei Number"
                (change)="tst()"
                formControlName="imeiNumber"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">CCID:</label>
              <ion-input
                type="text"
                placeholder="Enter the CCID"
                formControlName="ccid"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Tac No:</label>
              <ion-input
                type="text"
                placeholder="Enter the Tac Number"
                formControlName="tagno"
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Valid Upto:</label>
              <ion-input type="date" formControlName="validupto"></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Warranty Upto:</label>
              <ion-input type="date" formControlName="warrantyupto"></ion-input>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col size-sm="8" size-md="8" size-lg="6" class="head">
            <label class="heading">Service Engineer</label>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col
              size="12"
              size-sm="12"
              size-md="6"
              size-lg="6"
              class="form_col"
            >
              <label class="label-heading">Service Engineer Name:</label>
              <ion-input
                type="textarea"
                placeholder="Service Engineer Name"
                formControlName="InstallationName"
              ></ion-input>
            </ion-col>
          </ion-row>
        </div>
      </form>
      <ion-row style="padding: 0px">
        <ion-col size="12" class="ion-text-center">
          <ion-button
            id="btn"
            [disabled]="!certificatedetails.valid"
            (click)="submit()"
            autocapitalize="characters"
            >Submit</ion-button
          ></ion-col
        ></ion-row
      >
    </ion-col>
  </ion-row>
</ion-content>
