<ion-header>
  <ion-toolbar
    [ngClass]="{
      dealerHeader: appName != 'Armoron',
      'header-background-color': appName == 'Armoron'
    }"
    mode="md"
  >
    <ion-buttons slot="start">
      <ion-icon
        (click)="cancelBtn()"
        name="arrow-back"
        style="padding: 10px"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-title>Vehicle Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="padding: 10px">
    <ion-col size="12">
      <jqxGrid
        #myGrid
        [theme]="'material'"
        [width]="'99.5%'"
        [autoheight]="true"
        [source]="dataAdapter"
        [pagesizeoptions]="page"
        [enablebrowserselection]="true"
        [columns]="columns"
        [sortable]="true"
        [filterable]="true"
        [columns]="columns"
        [columnsresize]="true"
        [enabletooltips]="true"
        [pageable]="true"
        [showfilterrow]="true"
        style="
          font-size: 16px;
          text-align: center !important;
          margin: auto;
          cursor: pointer;
        "
      >
      </jqxGrid>
    </ion-col>
  </ion-row>
</ion-content>
