ion-card {
  border-left: 4px solid rgb(6, 212, 254);
  padding: 0px;
  margin: 0px;
  background-color: white;
  width: 140% !important;
}

ion-card-content {
  font-size: 12px;
  line-height: 5px;
  padding: 8px 0px 5px 4px;
}

.vj {
  font-weight: bold;
}
