.route-wrapper{
     padding:5px 10px 0;
  }
  .grid_Container{
     margin: 0px 10px 0px; 
     padding: 0; 
  }
  .header-section{
    background-color: #e8e8e8;
    border: 1px solid #cac2c2;
  }
  #export-wrapper{
    text-align: right;
    background-color: #e8e8e8;
    height: 42px;
    border-top: 1px solid gainsboro;
    margin: 0px 10px 0px;
    border-left: 2px solid #c7c7c7;
  }
  #btn-wrapper{
    text-align: center;
    padding: 0px;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
  }
  .toolbar-row{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin:0px;
    border: 1px solid #b9b7b7;
    padding: 5px;
 }
 .toolbar-row:hover{
  background-color: whitesmoke;
}
 .route-btn{
   width: 80px;
   height: 30px;
   margin: 5px 10px;
   font-size: 12px;
}

//Mobile View
.route-card-container{
  padding: 10px;
  text-align: center;
  color:gray;
  *{
    padding: 1px;
    font-size: 11px;
  }
}
.clock-icon{
  margin-right: 5px;
  vertical-align: middle;
}
#inner-route-card{
  background:white;
  margin: 0px;
  padding: 3px; 
  box-sizing: none;
  box-shadow: none;
}
.time{
  padding-left: 14px !important;
  line-height: 6px;
  
}
.tripName{
  font-size: 15px !important;
  padding: 5px 0 !important;
}
.time-header{
  font-family: ui-monospace;
}
.fab-col-btn{
  height: 30px;
  width:30px;
  
}
#add-fab-btn{
  position:fixed;
  bottom:56px;
  right:0;
  width:50px;
  height: 50px;
}

#arrow-icon{
  font-size: x-large;
}

.header-row{
  padding-top: 9px !important;
}
